.accordion-item {
  border: none;
  margin-bottom: 10px;
}

.accordion-button {
  background-color: white;
  color: #000000;
}

.accordion-body {
  border-top: 1px solid #ddd;
  padding: 10px;
}

.accordion-button:not(.collapsed) {
  color: #000000 !important;
  background-color: white !important;
}

.FAQ {
  margin: 1rem 0rem;
  padding: 1rem;
  background-color: #eee;
  align-content: center;
}
