.Junk {
  display: flex;
  justify-content: space-evenly;
  margin: 1rem 0rem;
  padding: 1rem;
  background-color: rgb(231, 225, 202);
  align-content: center;
  gap: 2rem;
}

.left {
  flex: 0 0 30%;
  padding: 1rem;
}

.right {
  flex: 0 0 60%;
  padding: 1rem;
}

p.contact-p1,
p.contact-p2 {
  font-size: 12px;
}

.ad-moving {
  max-width: 100%;
  height: 3rem;
  display: block;
}
h5.h-right {
  font-size: 20px;
}

img.junk {
  max-width: 100%;
  height: auto;
  display: block;
  padding: 0 !important;
}

h5.contact-h {
  font-size: 16px;
}

h5.h-right {
  font-size: 16px;
}

@media (max-width: 767px) {
}
